.btn {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border: 2px;
  background-color: rgb(205, 211, 209);
}

.form {
  width: 300px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.error {
  font-size: 12px;
  color: orangered;
}

.input {
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
}

.link {
  justify-content: center;
  display: flex;
}
