.icon {
  margin-right: 10px;
  padding-left: 0px;
}

.container {
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  border-radius: 8px;
  height: 80px;
  width: 280px;
  gap: 20px;
  position: relative;
}

.page {
  gap: 8px;
  text-align: start;
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
}

.containerbutton {
  display: flex;
  width: 50px;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 0;
}

.icondel {
  color: rgb(37, 37, 67);
  size: 50;
  position: absolute;
  top: 42px;
  right: 25px;
}

.iconcorecta {
  color: rgb(105, 11, 11);
  size: 50;
  position: absolute;
  top: 10px;
  right: 25px;
}
