.list {
  display: flex;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}

.contact {
  width: calc((100% - 36px) / 4);
}

.title {
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}
