.list {
  display: flex;
  gap: 12px;
  display: flex;
  /* width: 1200px; */
  flex-wrap: wrap;
  /* justify-content: center; */
}

.contact {
  /* height: 100px; */
  width: calc((100% - 36px) / 4);
}

.title {
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}
